body{
    background-color: rgb(2, 13, 32);
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
}

.topic {
    margin-left: 15px;
    font-size: 30px;
    color: red;
    list-style: none;
}

.topic-section {
    width: 50%;
    border: solid 1px red;
    border-radius:25px;
    margin: 2% auto;
    background-color: rgb(36, 32, 47);
}

ul a {
    color: pink
}

ol li {
    margin: 10px 0;
}

h1 {
    text-align: center;
    font-size: 300%;
    margin-bottom: 20px;
}

.navbar{
    font-size: 150%;
    color:white;
    background-color: rgb(71, 1, 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.navbar li{
    list-style:none;
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
}
.navbar-right{
    display: flex;
    justify-content: right;
    margin: 2vh 2vw 0vh 0vw;
}

.navbar-logo li{
    font-weight: bold;
    margin: 5px;
}

.navbar-right li{
    font-weight: bold;
    margin: 10px
}

.navbar a:hover {
    color: rgb(17, 203, 228);
}